<tr>
  <td><%= produto.nome %></td>
  <td><%= produto.descricao %></td>
  <td><%=produto.preco %></td>
  <td><%= produto.quantidade %></td>
  <td><%= button_to "Remover", produtos_path, method: :delete, class: "btn btn-danger", data: {confirm: "Tem certeza que deseja remover o produto #{produto.nome}?"} %></td>
</tr>