<% @produto.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
<% end %>

<div class="row">

  <div class="col-sm-6">

    <%= form_for @produto do |f| %>

      <div class="form-group">
        <%= f.label :nome %>
        <%= f.text_field :nome, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :descricao %>
        <%= f.text_area :descricao, class: "form-control", rows: 5 %>
      </div>

      <div class="form-group">
        <%= f.label :quantidade %>
        <%= f.number_field :quantidade, step: 1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :preco %>
        <%= f.number_field :preco, class: "form-control" %>
      </div>

      <%= f.submit 'Criar o produto', class: "btn btn-primary mt-4" %>
  <% end %>

  </div>

</div>