<!DOCTYPE html>
<html>
  <head>
    <title>Lojadecamisetas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_url %>">Loja de Camisetas</a>
      <%= form_tag busca_produto_path, method: :get, class: 'navbar-form navbar-right' do %>
        <div class="input-group">
          <%= text_field_tag :nome, @nome_a_buscar, class: 'form-control' %>
          <%= button_to "Buscar", nil, class: 'btn btn-primary' %>
        </div>
    <% end %>
    </nav>

    <section class="container">

      <%= yield %>

    </section>

  </body>
</html>
